.fa-long-arrow-alt-right {
  height: 45px;
  width: 45px;
  color: #1a1d26;
  grid-column: 2/3;
  grid-row: 1;
 
}
.fa-long-arrow-alt-right:hover {
  left:-10px;
  transform: translateX(50px);
}

.fa-long-arrow-alt-down {
  height: 45px;
  width: 50px;
  color: #1a1d26;
  grid-column: 3/3;
  grid-row: 2;
  
}
.fa-long-arrow-alt-down:hover {
  transform: translateY(15px);
}
.fa-long-arrow-alt-left {
  height: 45px;
  width: 45px;
  color: #1a1d26;
  grid-column: 2/3;
  grid-row: 3;

}
.fa-long-arrow-alt-left:hover {
  transform: translateX(-50px);
  
}
.fa-long-arrow-alt-up {
  height: 45px;
  width: 50px;
  color: #1a1d26;
  grid-column: 1/3;
  grid-row: 2;
  
}
.fa-long-arrow-alt-up:hover {
  transform: translateY(-15px);
}

.ElementsReminderContainer {
  height: 165px;
  width: 165px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
}
#Cleverness {
  height: 50px;
  width: 50px;
  grid-column: 1 / 3;
  grid-row: 1;
}
#Resistance {
  height: 50px;
  width: 50px;
  grid-column: 3 / 3;
  grid-row: 1;
}
#Speed {
  height: 50px;
  width: 50px;
  grid-column: 3 / 3;
  grid-row: 3;
}
#Strength {
  height: 50px;
  width: 50px;
  grid-column: 1 / 3;
  grid-row: 3;
}

@media screen and (max-width : 500px){
  .fa-long-arrow-alt-right {
    height: 22px;
    width: 14px;
    color: #1a1d26;
    grid-column: 12/3;
    grid-row: 4;
   
  }

   .fa-long-arrow-alt-down {
    height: 20px;
    width: 25px;
    color: #1a1d26;
    grid-column: 13/3;
    grid-row: 5;
    
  }
  
  .fa-long-arrow-alt-left {
    height: 22px;
    width: 14px;
    color: #1a1d26;
    grid-column: 12/3;
    grid-row: 6;
  
  }
 
  .fa-long-arrow-alt-up {
    height: 20px;
    width: 25px;
    color: #1a1d26;
    grid-column: 11/3;
    grid-row: 5;
  }
 
  
  .ElementsReminderContainer {
    background-color: #cfc7c2;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat/3, 1fr);
    grid-gap: 5px;
  }
  #Cleverness {
    height: 20px;
    width: 20px;
    grid-column: 11 //3;
    grid-row: 4;
  }
  #Resistance {
    height: 20px;
    width: 20px;
    grid-column: 13 //3;
    grid-row: 4;
  }
  #Speed {
    height: 20px;
    width: 20px;
    grid-column: 13 //3;
    grid-row: 6;
  }
  #Strength {
    height: 20px;
    width: 20px;
    grid-column: 11 //3;
    grid-row: 6;
  }

  
}