.CentralDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: var(--main-color);
    /*margin-top: 80px;*/
    padding-top: 150px;
    height: 90vh;
    width: 100vw;
}


.TitleCard{
    font-family: var(--title-font);
    text-align: center;
    font-size: 20pt;
    color: var(--light);
    text-shadow: 2px 4px 5px #101218;
}
.DivUser{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2;
}
.VisualContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.LogoGame {
    height: 170px;
    width: 170px;
    background-color: var(--light);
    position: relative;
}

.Versus{
    height: 450px;
    width: 450px;
    position: relative;
}
.ElementsReminderContainer{
    border: solid 2px var(--light);
}
.ButtonAttack1{
    display: block;
    position: relative;
    bottom: 240px;
    left: -167px;
    height: 51px;
    width: 250px;
    background-color: transparent;
    background-position: top 237px left -16px;
    border: none;
}


.ButtonAttack2{
    display: block;
    position: relative;
    bottom: 232px;
    left: -167px;
    height: 51px;
    width: 250px;
    background-color: transparent;
    background-position: top 178px left -16px;
    border: none;
}

.ButtonAttack3{
    display: block;
    position: relative;
    bottom: 227px;
    left: -167px;
    height: 51px;
    width: 250px;
    background-color: transparent;
    background-position: top 121px left -16px;
    border: none;
}

.ButtonAttack4{
    display: block;
    position: relative;
    bottom: 219px;
    left: -167px;
    height: 51px;
    width: 250px;
    background-color: transparent;
    background-position: top 62px left -16px;
    border: none;
}


.healthBarShell {
    display: flex;
    width: 87%;
    height: 30px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    margin: 0px;
    
    transform: skew(-40deg,0deg) translateX(10px);
    box-shadow: 0px, 0px, 1px ;

   
  }
  
  .healthBarValue {
    width: 100%;
    height: 30px;
    background: rgba(255,0,0,.5);
    border: solid 1px;
   
    border-color: rgba(255,255,255,.7);
    box-sizing: border-box;
  
    position: relative;
  }


.healthBarShellCPU {
    display: flex;
    justify-content: flex-end;
    width: 87%;
    height: 30px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    margin: 0px;
    
    transform: skew(-40deg,0deg) translateX(-10px);
    box-shadow: 0px, 0px, 1px ;
  }
  
  .healthBarValueCPU {
    width: 100%;
    height: 30px;
    background: rgba(255,0,0,.5);
    border: solid 1px;
    border-color: rgba(255,255,255,.7);
    box-sizing: border-box;
    position: relative;
  }

.DivCPU{
    display:flex;
    flex-direction: column;
    z-index: 2;
}
  
.Joker{
    background-image: url(../cards/Carte_Joker-min.png);
}

.CaptainMarvel {
    background-image: url(../cards/Carte_CaptainMarvel-min.png)
}

.Flash {
    background-image: url(../cards/Carte_Flash-min.png)
}

.Gamora {
    background-image: url(../cards/Carte_Gamora-min.png)
}

.Greenlantern {
    background-image: url(../cards/Carte_Greenlantern-min.png)
}

.Groot {
    background-image: url(../cards/Carte_Groot-min.png)
}

.Harleyquinn {
    background-image: url(../cards/Carte_Harleyquinn-min.png)
}

.Hulk {
    background-image: url(../cards/Carte_Hulk-min.png)
}

.Invisiblewoman {
    background-image: url(../cards/Carte_Invisiblewoman-min.png)
}

.Ironman {
    background-image: url(../cards/Carte_Ironman-min.png)
}

.Joker {
    background-image: url(../cards/Carte_Joker-min.png)
}

.Medusa {
    background-image: url(../cards/Carte_Medusa-min.png)
}

.Mera {
    background-image: url(../cards/Carte_Mera-min.png)
}

.Poisonivy {
    background-image: url(../cards/Carte_Poisonivy-min.png)
}

.QuickSilver {
    background-image: url(../cards/Carte_QuickSilver-min.png)
}

.Spiderman {
    background-image: url(../cards/Carte_Spiderman-min.png)
}

.Supergirl {
    background-image: url(../cards/Carte_Supergirl-min.png)
}

.Superman {
    background-image: url(../cards/Carte_Superman-min.png)
}

.Thanos {
    background-image: url(../cards/Carte_Thanos-min.png)
}

.Wolwerine {
    background-image: url(../cards/Carte_Wolwerine-min.png)
}

.Wonderwoman {
    background-image: url(../cards/Carte_Wonderwoman-min.png)
}


.ButtonAttack1:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
}

.ButtonAttack2:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
}

.ButtonAttack3:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
}

.ButtonAttack4:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
}


.newTurn{
    display: none;
    font-size: 70px;
    z-index: 2;
    -webkit-text-stroke: 1px black;
    color:var(--light);
    text-shadow:
     3px 3px 0 var(--secondary-color),
     -1px -1px 0 var(--secondary-color),  
     1px -1px 0 var(--secondary-color),
     -1px 1px 0 var(--secondary-color),
     1px 1px 0 var(--secondary-color);
}

.endGame {
    display: none;
    background-color: var(--main-color);
    margin-top: -150px;
    position: fixed;
    height: 100%;
    width: 100vw;
    z-index: 3;
    opacity: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttonretry {
    height: 7vh;
    width: 12vw;
	box-shadow: 3px 4px 0px 0px #dcdcdc;
	background-color:#022364;
	border-radius:5px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#9f1525;
	font-weight:bolder;
	padding:12px 44px;
	text-decoration:none;
    text-shadow:0px 1px 0px #6e2626;
    opacity: 1;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
}

.buttonretry:hover {
	background-color:#0756a6;
}

.buttonretry:active {
	position:relative;
	top:1px;
}

.victory {
    display: none;
    margin-bottom: 200px;
    font-family: 'Anton', sans-serif;
    font-size: 70px;
    -webkit-text-stroke: 1px black;
    color:var(--light);
    text-shadow:
     3px 3px 0 var(--secondary-color),
     -1px -1px 0 var(--secondary-color),  
     1px -1px 0 var(--secondary-color),
     -1px 1px 0 var(--secondary-color),
     1px 1px 0 var(--secondary-color);
}

.defeat {
    display: none;
    margin-bottom: 200px;
    font-family: 'Anton', sans-serif;
    font-size: 70px;
    -webkit-text-stroke: 1px black;
    color:var(--light);
    text-shadow:
     3px 3px 0 var(--secondary-color),
     -1px -1px 0 var(--secondary-color),  
     1px -1px 0 var(--secondary-color),
     -1px 1px 0 var(--secondary-color),
     1px 1px 0 var(--secondary-color);
}